<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-default static-top" id="backgrougColor">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/icone/logo.png" alt="LOgo" height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ustify-content-end"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">MES PATIENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DOC-ONLINE</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle w-110" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dr Benoit
            </a>
                       
          </li>
          <li class="nav-item">
            <a class="nav-link ml-3" href="#"><img src="assets/icone/barre-de-menu.png" alt="LOgo" height="35"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="assets/icone/veille-bouton-dalimentation.png" alt="LOgo" height="25"></a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  
