<div class="container">
    <div class="col">
        <div class="row" id=box1>
            <p id="interD">17/06/2021 au 17/06/2022</p>
            <p id="desc">F25 - Apnée du sommeil + o2 long terme<img class="position3"src="assets/icone/repeat.jpg" alt="LOgo" height="35"></p>
            
        </div>
    </div>
    <div class="col">
        <div class="row " id="box2">
            <p id="identiter">Mme Pauline Durand <img class="position"src="assets/icone/coeur.png" alt="LOgo" height="25"> </p>
            <p id="coordonnees">Née le 11/02/195(67ans)<img class="position2 mt-2"src="assets/icone/h.png" alt="LOgo" height="25"> <br>
            06.06.06.06.06</p>
        </div>
    </div>
    <div class="col">
        <div class="row ml-3 mt-3 bg-light"  id="box3">
            <h6 class="mt-3 ml-2">Filtres</h6>
           <app-container-filtre></app-container-filtre>
        </div>
    </div>

</div>
